@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}



@model ShoppingCartVM

<form method="post">
    @*<input type="hidden" id="@Model.AppliedCoupon.Id" />*@
    <div class="container">
        <div class="card show border-0">
            <div class="card-header bg-secondary bg-gradient text-light ml-0 py-4">
                <div class="row px-4">
                    <div class="col-6">
                        <h5> Order Summary</h5>
                    </div>
                    <div class="col-6 text-end">
                        <a asp-action="Index" class="btn btn-outline-danger text-light btn-sm">Back to Cart</a>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex align-items-center mb-3">
                                    <span class="text-info ">Shipping Details</span>
                                </h4>

                            </div>


                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Name</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderSummary.Name" class="form-control" />
                                    <span asp-validation-for="OrderSummary.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1 ">
                                <div class="col-3">
                                    <label>Phone </label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderSummary.MobileNumber" class="form-control" />
                                    <span asp-validation-for="OrderSummary.MobileNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label> Address</label>
                                </div>
                                <div class="col-9" my-1>
                                    <input asp-for="OrderSummary.Address" class="form-control" />
                                    <span asp-validation-for="OrderSummary.Address" class="text-danger"></span>
                                </div>
                            </div><div class="row my-1 ">
                                <div class="col-3">
                                    <label>City</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderSummary.City" class="form-control" />
                                    <span asp-validation-for="OrderSummary.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row  my-1">
                                <div class="col-3">
                                    <label>State</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderSummary.State" class="form-control" />
                                    <span asp-validation-for="OrderSummary.State" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1 ">
                                <div class="col-3">
                                    <label>Postal Code</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderSummary.PostalCode" class="form-control" />
                                    <span asp-validation-for="OrderSummary.PostalCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>



                        <!--<div class="row">
                            <div class="col-3 ">-->
                        <!-- Button to trigger the popup -->
                        <!--<a onclick="showInPopup('@Url.Action("AddAddress","Cart")','Add Address')" class="btn btn-success">Add Address</a>

                            </div>


                        </div>-->

                        <div class="col-12 col-12 col-lg-6 pb-4">
                            <h4 class="d-flex align-items-center mb-3">
                                <span class="text-info ">Order Summary</span>
                            </h4>
                            <ul class="list-group mb-3 ">
                                @foreach (var details in Model.shoppingCartList)
                                {


                                    <li class="list-group-items d-flex">
                                        <div>
                                            <h6 class="my-0">@details.Product.ProductName</h6>
                                            <small class="text-muted">Quantity: @details.Count</small>
                                        </div>

                                    </li>
                                    <li class="list-group-items d-flex">
                                        <div>
                                            <small class="text-muted">@details.Price * @details.Count AED</small>
                                        </div>
                                    </li>


                                }
                            </ul>

                            <div class="row">
                                <div class="col-3 form-group">
                                    <label for="coupon">Coupon Code</label>
                                    <input name="coupon" type="text" class="form-control" />

                                </div>
                                <div class="col-3 ">
                                    <button type="submit" name="coupon" class="btn btn-secondary form-control" asp-area="Customer" asp-controller="cart" asp-action="ApplyCoupon">Apply</button>
                                </div>
                                <div class="col-3 ">
                                    <button type="submit" name="coupon" class="btn btn-secondary form-control" asp-area="Customer" asp-controller="cart" asp-action="RemoveCoupon">Remove</button>
                                    <p>@ViewBag.Message</p>
                                </div>
                            </div>




                            <h6 class="text-info">Total (AED) :@Model.OrderSummary.OrderTotal</h6>
                            @*<h6 class="text-info">Total (AED) :@ViewData["OrderTotal"]</h6>*@





                            <div>
                                <p>Please select your Payment Method</p>
                                <input type="radio" id="COD" asp-for="OrderSummary.PaymentMethod" name="PaymentMethod" value="COD">
                                <label>Cash On Delivery</label><br>
                                <input type="radio" id="Card" name="PaymentMethod" value="Card" asp-for="OrderSummary.PaymentMethod">
                                <label>Card Payment</label><br>
                                <input type="radio" id="Wallet" name="PaymentMethod" value="Wallet" asp-for="OrderSummary.PaymentMethod">
                                <label>Wallet Payment</label><br>
                                @*<span asp-validation-for="OrderSummary.PaymentMethod" class="text-danger"></span>*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-8 pt-2">
                        <p>
                            Estimate Delivery Time:@DateTime.Now.AddDays(7).ToShortDateString() - @DateTime.Now.AddDays(14).ToShortDateString();
                        </p>
                    </div>
                    <div class="col-12  col-md-4 pt-2">
                        <button type="submit" asp-action="Summary" class="btn btn-secondary form-control">Checkout</button>
                    </div>
                </div>
            </div>
        </div>

</form>




<a class="btn btn-secondary" id="openModalButton">Add Address</a>

@*<input type="button" value="Some text" onclick="window.location.href='<%= Url.Action(" ViewAddress", "Cart" ) %>';" />*@
<a class="btn btn-secondary" asp-controller="Cart" asp-action="ViewAddress" asp-area="Customer">Select Address</a>


<!-- First Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <!-- Add address form or content here -->


                <div class="row">
                    <div class="col-12">

                        <div class="card">

                            <div class="card-header">
                                <h3>Add new Address </h3>
                            </div>
                            <div class="card-body">
                                <form asp-action="AddAddress" asp-controller="Cart" method="post">

                                    <div class="col-mb-12">


                                        <label asp-for="AddressModel .Address" class="form-label"></label>
                                        <input asp-for="AddressModel. Address" class="form-control" />
                                    </div>
                                    <div class="col-mb-12">

                                        <label asp-for="AddressModel.City" class="p-0"></label>
                                        <input asp-for="AddressModel.City" class="form-control" />
                                    </div>

                                    <div class="col-mb-12">
                                        <label asp-for="AddressModel.State" class="p-0"></label>
                                        <input asp-for="AddressModel.State" class="form-control" />
                                    </div>
                                    <div class="col-mb-12">

                                    </div> <label asp-for="AddressModel.PostalCode" class="p-0"></label>
                                    <input asp-for="AddressModel.PostalCode" class="form-control" />
                                    <div class="col-mb-12">
                                        <label asp-for="AddressModel.MobileNumber" class="p-0"></label>
                                        <input asp-for="AddressModel.MobileNumber" class="form-control" />
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <button type="submit" class="btn btn-secondary form-control">Add</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-modal-btn">Close</button>
            </div>
        </div>
    </div>
</div>




@*@section Scripts{

     <partial name="_ValidationScriptsPartial" />
    }*@


<script>$(document).ready(function () {
        $('#openModalButton').click(function () {
            $('#myModal').modal('show');

        });

    });</script>


<script>$(document).ready(function () {
        // Add a click event handler to the close button inside the modal
        $('#myModal').on('click', '.close-modal-btn', function () {
            $('#myModal').modal('hide'); // Hide the modal
        });
    });</script>