@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "AddAddress";
}


@model AddressModel


<form method="get">

    @*@foreach (var item in Model)
    {*@
        <button type="submit" asp-action="Summary" asp-area="Customer" asp-controller="Cart">

            <h5> Address  </h5>
            <br />

            <h5>  @Model.Address </h5>
            <br />
            <h5> @Model.City </h5>
            <br />
            <h5> @Model.State </h5>
            <br />
            <h5>@Model.PostalCode</h5>
            <br />
            <h5> @Model.MobileNumber </h5>


        </button>
    @*}*@
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial.cshtml" />
    }
}

