@model ReportVM


@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}



<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@ViewBag.TotalOrders</h3>

                        <p>Total Orders</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3> @ViewBag.ShippedCount<sup style="font-size: 20px">%</sup></h3>

                        <p>Shipped Orders</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3> @ViewBag.ApprovedCount</h3>

                        <p>Approved Orders</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@ViewBag.PendingCount</h3>

                        <p>Pending Orders</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>

        <!----Sales Report-->



        <h3>Sales  Report</h3>

        <div class="row">


            <div class="col-md-4">
                <form method="get">
                    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                    <div class="form-group">
                        <input for="StartDate " type="datetime-local" name="StartDate" id="startDate " />
                        <input type="datetime-local" name="EndDate" id="endDate " />

                        <br />
                        <br />
                        <div class="form-group">
                            <input type="submit" asp-action="GeneratePdf" asp-controller="DashBoard" asp-area="Admin" class="btn btn-secondary" value="PDF EXPORT" />
                        </div>

                        <div class="form-group">
                            <input type="submit" asp-action="ExportExcel" asp-controller="DashBoard" asp-area="Admin" class="btn btn-secondary" value="EXPORT TO EXCEL" />
                        </div>

                        @*<div class="form-group">
                            <a class="btn btn-secondary" href="@Url.Action("ExportExcel", "DashBoard")">EXPORT TO EXCEL</a>
                        </div>*@


</form>


            </div>
        </div>

        <h1>Sales Report</h1>

        <!--<form method="get">-->

            @*<input asp-for="item.Id" hidden />*@
            <!--<a class="btn btn-secondary" href="@Url.Action("ExportExcel", "DashBoard")">Generate PDF Sales Report</a>
        </form>-->

        <table class="table">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Total Sales</th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var item in Model.OrderDetail)
                {
                    <tr>
                        <td>@item.ProductId</td>
                        <td>@item.Product.ProductName</td>
                        <td>@item.Price</td>
                    </tr>
                }*@
            </tbody>
        </table>


       
            </div>
            <!-- /.card -->
</section>
<!-- right col -->
        </div>
<!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

@section Scripts{

    <partial name="_ValidationScriptsPartial" />

    <script src="~/js/report.js"></script>


}
